@font-face {
    font-family: 'LabGrotesqueO-Black';
    src: url('https://d1tgie0box83ar.cloudfront.net/assets/LabGrotesqueO-Black.woff') format('woff');
}

@font-face {
    font-family: 'LabGrotesqueO-Bold';
    src: url('https://d1tgie0box83ar.cloudfront.net/assets/LabGrotesqueO-Bold.woff') format('woff');
}

@font-face {
    font-family: 'LabGrotesqueO-Medium';
    src: url('https://d1tgie0box83ar.cloudfront.net/assets/LabGrotesqueO-Medium.woff') format('woff');
}

@font-face {
    font-family: 'LabGrotesqueO-Regular';
    src: url('https://d1tgie0box83ar.cloudfront.net/assets/LabGrotesqueO-Regular.woff') format('woff');
}

.App {
    text-align: center;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}


/* .nav-as-button-link {
    border-radius: 25px;
    width: 120px;
    text-align: center;
    height: 38px;
    color: rgb(100, 76, 255)
}

.nav-as-button-link:active {
    background-color: rgb(100, 76, 255);
    color: white;
} */